  /*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}


/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 0.00625rem solid rgb(227, 25, 29);
  border-radius: 0.125rem;
  width: 95%;
  margin: 0 auto;
}


/*
Heading styles
*/

h1 {
  font-size: 1.375rem; /* 22px */
  color: #666A6C;
}




/*
Header and top hero styles
*/


header {
  background: #FFF;
}


.hero img {
  width: 100%;
}

.logo {
  border-right: #DCE0E0 0.0625rem solid;  /* 1px */
}


/*
  Info styles and setup --->
*/

.info {
  background:white;
  text-align: center;
  padding: 1.563rem;  /* 25px */
  border-bottom: 1px lightgrey solid;
}
.info .profile {
  margin-bottom: 1.5rem;   /* 24px */
}
.info h1 {
  margin-bottom: 0.3125rem;     /* 5px */
}

.info .owner-details img {
  border-radius: 50%;
  margin-bottom: 0.375rem;   /* 6px */
}

.info h2.relation, .info h2.name {
  color: #909597;
  margin-bottom: 0.1875rem;   /* 3px */
}

.info h2.name {
  font-weight: bold;
}

.info p.location {
  margin-bottom: 1.25rem;    /* 20px */
}

.info .booking h2{
  font-weight: 600;
  font-size: 1.375rem;    /* 22px */
  margin-bottom: 0.8125rem;    /* 13px */
}


.ico {
  float: left;
  width: 33%;
}


.info .icon img {
  height: 1.875rem;   /* 30px */
  margin-bottom: 0.1875rem;  /* 3px */
}

.info h2.price time {
  font-size: 1rem;    /* 16px */
}

.container2 {
  background-color: #F5F5F5;
  padding: 20px;
  font-weight: regular;
  line-height: 22px;
  font-size: 13px;
}

/* 
  
  About the dog ->

*/

.aboutdog {
  width: 100%;
  margin: 0 auto;
  color: #565A5C;
  padding-bottom: 50px;
  border-bottom: 1px #DCE0E0 solid;
}

.aboutdog h3 {
  font-weight: bold;
  font-size: 16px;
  color: #565A5C ;
}

.aboutdog h5 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  color: #FF595F;
  text-align: center;
}

/* 
  
  Care ->

*/
  
.care {
  line-height: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px #DCE0E0 solid;
}

/* 
  
Games ->

*/
  
.games {
  height: 130px;
  border-bottom: 1px #DCE0E0 solid;
  padding-bottom: 30px;
  margin-top: 10px;
  line-height: 20px;
}
.games h5{
  margin-bottom: 10px;
}

/* 
  
Images of the dog ->

*/
  
.dogimgs {
  border-bottom: 1px #DCE0E0 solid;
  margin-top: 20px;
  padding-bottom: 80px;
}

.dogimgs img {
 margin: 0 0 10px;
}

































/* 

DESKTOP VERSION ----->

*/

@media only screen and (min-width: 66.25rem) {    /* 1060px */

  .column {
    float: left;
  }

  .container {
    width: 65rem;    /* 1040px */
    margin: 0 auto;
  }

  .button {
    width: 17.19rem;  /* 275px */
    margin: auto;
  }

  .info h1 {
    margin-bottom: 0.6875rem;  /* 11px */
  }

  .info h2 {
    margin-bottom: 0.1875rem;    /* 3px */
  }

  .info .profile {
    width: 41.25rem;    /* 660px */
    border-right: 0.0625rem solid #DCE0E0;     /* 1px */
  }

  .info .booking {
    width: 23.75rem;    /* 380px */
  }

  .info .owner-details {
    width: 20%;
  }

  .info .pet-details {
    width: 80%;
    text-align: left;
  }

  .info .pet-details .icon {
    width: inherit;
    margin-right: 3.125rem;    /* 50px */
  }

  .info .pet-details .icon img {
    display: block;
    margin: 0.625rem;     /* 10px */
    padding: 0.625rem;     /* 10px */
  }
  .icons {
    width: 80%;
    padding: 0px;    /* 0px */
    line-height: 1.25rem;     /* 20px */
  }

  .container2{
    width: 655px;
    margin: 0 auto;
    margin-left: 310px;
    padding: 0px;
    padding-bottom: 20px;
  }

  /* 
  
  About the dog ->

  */

  .aboutdog h5 {
    margin-top: 36px;
    font-weight: bold;
    font-size: 13px;
    color: #FF595F;
    text-align: left;
  }
  .aboutdog h3{
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  /* 
  
  Care of the dog ->

  */
  
  .care {
    height: 130px;
    margin-top: 28px;
    padding: 0px;
  }
  .caretype {
    width: 170px;
    float: left;
    height: 130px;
    margin: 0px;
  }
  .c1{
    width: 260px;
    height: 130px;
    float: left;
    margin: 0;
  }
  .c2{
    width: 225px;
    float: left;
    height: 130px;
    margin: 0;
  }
  /* 
  
    Games ->

  */
  .game {
    height: 130px;
    margin-top: 28px;
    padding: 0px;
  }

  .gamename {
    width: 170px;
    float: left;
    height: 130px;
    margin: 0px;
  } 
  .gtype {
    height: 130px;
    float: left;
    margin-top: 5px;
    width: 485px;
  }
  /*

  Images of the dog

  */
  .dogimgs img {
    float: left;
    height: 300px;
    width: 200px;
    margin-top: 28px;
    margin-bottom: 0px;
  }
  .dogimgs .d1 {
    margin-right: 27px;
  }


}